<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rosinante24.healthyline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.IntroSliderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DetailAmbulanceActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activities.RumahSakitUmumActivity" />
        <activity android:name=".activities.RumahSakitKhususActivity" />
        <activity
            android:name=".activities.DetailPuskesmasActivity"
            android:label="@string/title_activity_detail_puskesmas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DetailRumahSakitKhusus"
            android:label="@string/title_activity_detail_rumah_sakit_khusus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DetailRumahSakitUmum"
            android:label="@string/title_activity_detail_rumah_sakit_umum"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>